@model PortfolioItemCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="container mb-3" style="margin-top: 8em;">
    <h1>Create</h1>
    <h4>Portfolio Item</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea  asp-for="Description" class="form-control" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <input asp-for="File" class="form-control-file" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-outline-dark">Back</a>
    </div>
</div>

